* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cyan: rgb(12, 231, 231);
    --black: rgb(26, 26, 26);

    /* strips */
    --strip-red: rgb(252, 109, 109);
    --strip-yellow: rgb(247, 247, 89);
    --strip-green: rgb(123, 249, 184);
    --strip-blue: rgb(9, 91, 111);
    --strip-orange: rgb(248, 197, 103);
}

body {
    background-color: var(--cyan);
    min-height: 100vh;
}

.tape {
    transition: all 0.3s ease-in-out;
}

.tape:hover {
    cursor: pointer;
    transform: scale(1.3);
}


.strip-red {
    background-color: var(--strip-red);
}

.strip-yellow {
    background-color: var(--strip-yellow);
}

.strip-green {
    background-color: var(--strip-green);
}

.strip-blue {
    background-color: var(--strip-blue);
}

.strip-orange {
    background-color: var(--strip-orange);
}


.drawing {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tape {
    min-width: 650px;
    max-width: 45vw;
    height: 47vh;
    background-color: var(--black);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-bottom: 0;
    gap: 1rem;
}

.tape .top {
    width: 100%;
    height: 75%;
    background-color: rgb(255, 255, 255);
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top .top-stuff {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
}

.top-stuff hr {
    margin: 0 30px;
    border-top: 2px solid rgb(152, 152, 152);
}

.top-stuff .hero {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.top-stuff .hero .black-stuff {
    height: 100%;
    width: 60%;
    background-color: var(--black);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;

}

.black-stuff .circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--cyan);
    border: 5px solid white;

}

.black-stuff .semi-circle {
    height: 45px;
    width: 90px;
    /* border: 1px solid red; */
    transform: rotate(90deg);
    border-radius: 45px 45px 0 0;
    background-color: rgba(0, 0, 0, 0.712);
    position: absolute;
    top: 22px;
    bottom: 0;
    left: 59px;
    z-index: 9999999;
}

.black-stuff .rect {
    width: 160px;
    height: 60px;
    background-color: var(--cyan);
    position: relative;
}



.top-stuff .hero .strip {
    width: 100%;
    height: 18px;
}

.tape .bottom {
    position: relative;
    width: 40%;
    height: 25%;
    background: rgb(49, 74, 49);
    border-radius: 50% / 10%;
    color: white;
    text-align: center;
    text-indent: .1em;
    width: 55%;
    margin: 0 auto;
    opacity: 0.2;
}

.tape .bottom:before {
    content: '';
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: -5%;
    left: -5%;
    background: inherit;
    border-radius: 5% / 50%;
}