* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cyan: rgb(72, 212, 212);
    --black: rgb(26, 26, 26);

    /* strips */
    --strip-red: rgb(252, 109, 109);
    --strip-yellow: rgb(247, 247, 89);
    --strip-green: rgb(123, 249, 184);
    --strip-blue: rgb(9, 91, 111);
    --strip-orange: rgb(248, 197, 103);
}

body {
    background-color: var(--cyan);
    min-height: 100vh;
}


.strip-red {
    background-color: var(--strip-red);
}

.strip-yellow {
    background-color: var(--strip-yellow);
}

.strip-green {
    background-color: var(--strip-green);
}

.strip-blue {
    background-color: var(--strip-blue);
}

.strip-orange {
    background-color: var(--strip-orange);
}


.drawing {
    border: 1px solid green;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tape {
    min-width: 650px;
    max-width: 45vw;
    height: 47vh;
    background-color: var(--black);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-bottom: 0;
    gap: 1rem;
}

.tape .top {
    width: 100%;
    height: 75%;
    background-color: rgb(255, 255, 255);
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top .top-stuff {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
}

.top-stuff hr {
    margin: 0 30px;
    border-top: 2px solid rgb(152, 152, 152);
}

.top-stuff .hero {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
}

.top-stuff .hero .strip {
    width: 100%;
    height: 18px;
}

.tape .bottom {
    position: relative;
    width: 40%;
    height: 25%;
    background: rgb(49, 74, 49);
    border-radius: 50% / 10%;
    color: white;
    text-align: center;
    text-indent: .1em;
    width: 55%;
    margin: 0 auto;
    opacity: 0.2;
}

.tape .bottom:before {
    content: '';
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: -5%;
    left: -5%;
    background: inherit;
    border-radius: 5% / 50%;
}